<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/">Pagina Principal</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contato.html">Contatos</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/privacy-geral.html">Privacidades</a>
</li>
<li class="nav-item">
 <a class="nav-link" href="{{site.baseurl}}/minecraft.html">Minecraft Downloads</a>
</li>
<li class="nav-item">
 <a class="nav-link" href="{{site.baseurl}}/android/">Android Downloads</a>
</li>