<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
    <!--Google Tag-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129691087-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129691087-1');
    </script>

    <!--Google Adsense-->
    <script data-ad-client="ca-pub-3560495237873677" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script data-ad-client="ca-pub-3560495237873677" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    